<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/assets/images/icon.png">
    <meta property="og:title" content="952Woodworking" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.952woodworking.com" />
    <meta property="og:image" content="https://www.952woodworking.com/assets/images/icon_white.png" />
    <meta property="og:description" content="Minnesota Handmade Furniture" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>